In [1]:
import pandas as pd
import numpy as np

from pandas import DataFrame

In [7]:
# Sample data similar to mtcars
data = {
    'car_names': ['Mazda RX4', 'Mazda RX4 Wag', 'Datsun 710', 'Hornet 4 Drive', 'Hornet Sportabout'],
    'cylinders': [6, 6, 4, 6, 8],
    'mpg': [21.0, 21.0, 22.8, 21.4, 18.7]
}

# Create DataFrame
cars_df = pd.DataFrame(data)

# Group by 'cylinders' column
cars_groups = cars_df.groupby('cylinders')

# Calculate mean mpg for each group
mean_mpg = cars_groups['mpg'].mean()

print("Mean MPG by Cylinder Group:")
print(mean_mpg)

Mean MPG by Cylinder Group:
mpg
18.7    8.0
21.0    6.0
21.4    6.0
22.8    4.0
Name: cylinders, dtype: float64

In [3]:
cars_df

           car_names  cylinders   mpg
0          Mazda RX4          6  21.0
1      Mazda RX4 Wag          6  21.0
2         Datsun 710          4  22.8
3     Hornet 4 Drive          6  21.4
4  Hornet Sportabout          8  18.7

In [6]:
mean_mpg

cylinders
4    22.800000
6    21.133333
8    18.700000
Name: mpg, dtype: float64